.container-card{
    height: 200px;
    width: 450px;
    border: 2px solid red;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    visibility: hidden;
}

.flipped-card{
    height: 200px;
    width: 450px;
    border: 2px solid rgb(174, 166, 166);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    border: 2px solid rgb(58, 52, 52);
    gap: 20px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgb(111, 108, 108);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: 250px;
    width: 450px;
}