.container-card {
    height: 200px;
    width: 450px;
    border: 2px solid red;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  .flipped-card {
    height: 200px;
    width: 450px;
    border: 2px solid rgb(174, 166, 166);
    border-radius: 15px;
    background-color: rgb(96, 96, 96);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    padding-bottom: 20px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: rgb(111, 108, 108);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: 250px;
    width: 450px;
  }

  
  .columns {
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }
    